# Global options
{
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    admin 0.0.0.0:2019
    metrics
}

jelly.mafyuh.io {
    log {
        output file /var/log/caddy/access.log {
            roll_size 50MB
            roll_keep 7
            roll_keep_for 168h
        }
        format json
    }

    reverse_proxy 10.0.0.15:8096
}
