---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app flux-operator
  namespace: &ns flux-system
spec:
  path: ./kubernetes/cluster/flux-operator/app
  targetNamespace: *ns
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: iac
    namespace: *ns
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
