---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bento-pdf
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 15m
  values:
    controllers:
      bento-pdf:
        containers:
          main:
            image:
              repository: ghcr.io/alam00000/bentopdf
              tag: 1.16.1
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 200M
              limits:
                memory: 1Gi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames:
          - "pdf.mafyuh.dev"
        parentRefs:
          - name: envoy-external
            namespace: kube-system
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - identifier: app
                port: 8080
