---
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.6
    container_name: jellyfin
    user: 1000:1000
    devices:
      - /dev/dri/renderD129:/dev/dri/renderD129
    volumes:
      - /docker/appdata/jellyfin/config:/config
      - /docker/appdata/jellyfin/cache:/nvmecache
      - /docker/appdata/jellyfin/metadata:/nvmemetadata
      - /docker/appdata/jellyfin/transcodes:/transcodes
      - nas:/Media
    restart: "unless-stopped"
    group_add:
      - "104"
    ports:
      - 8096:8096
    environment:
      - JELLYFIN_DATA_DIR=/config/data
      - JELLYFIN_CONFIG_DIR=/config
      - JELLYFIN_LOG_DIR=/config/log
      - JELLYFIN_CACHE_DIR=/nvmecache

  makemkv:
    image: jlesage/makemkv:v26.01.1
    container_name: makemkv
    ports:
      - 5800:5800
    environment:
      - MAKEMKV_KEY=$MAKEMKV_KEY
    volumes:
      - /docker/appdata/makemkv:/config:rw
      - /home/mafyuh/makemkv/storage:/storage:rw
      - nas:/output:rw
    devices:
      - /dev/sr0:/dev/sr0
    privileged: true
    security_opt:
      - apparmor:unconfined

volumes:
  nas:
    driver: local
    driver_opts:
      type: nfs
      o: addr=nas.lan,vers=4,rw
      device: ":/mnt/thePool/thePoolShare/Media"
