---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.0.1/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app jellyseerr
  namespace: arr
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: jellyseerr
  values:
    global:
      fullnameOverride: *app
      namespace: arr

    controllers:
      jellyseerr:
        enabled: true
        type: deployment

        replicas: 1

        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: &group 1000
            fsGroup: *group
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: fallenbagel/jellyseerr
              tag: 2.7.3
              pullPolicy: IfNotPresent
            env:
              TZ: "${TZ}"
              LOG_LEVEL: info
              DB_TYPE: postgres
              DB_HOST: "pg-cluster-ha.databases.svc.cluster.local"
              DB_PORT: "5432"
              DB_USER: "jellyseerr"
              DB_PASS: ${JELLYSEERR_DB_PASS}
              DB_NAME: "jellyseerr"
              DB_LOG_QUERIES: "false"

            probes:
              liveness:
                enabled: false

            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL

            resources:
              requests:
                cpu: 150m
                memory: 256Mi
              limits:
                cpu: 800m
                memory: 2Gi

    service:
      app:
        primary: true
        controller: jellyseerr
        ports:
          http:
            port: &port 5055

    route:
      external:
        enabled: true
        kind: HTTPRoute
        hostnames: ["request.mafyuh.dev"]
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: jellyseerr
                port: *port
        parentRefs:
          - name: envoy-external
            namespace: kube-system
            sectionName: https

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/config
