---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: blackbox-exporter
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: blackbox-exporter
  values:
    serviceMonitor:
      enabled: true

    config:
      modules:
        http_2xx:
          prober: http
          timeout: 5s
          http:
            valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
            valid_status_codes: []
            method: GET
            preferred_ip_protocol: "ip4"
            ip_protocol_fallback: false
        http_post_2xx:
          prober: http
          http:
            method: POST
        tcp_connect:
          prober: tcp
        pop3s_banner:
          prober: tcp
          tcp:
            query_response:
              - expect: "^+OK"
            tls: true
            tls_config:
              insecure_skip_verify: false
        ssh_banner:
          prober: tcp
          tcp:
            query_response:
              - expect: "^SSH-2.0-"
        irc_banner:
          prober: tcp
          tcp:
            query_response:
              - send: "NICK prober"
              - send: "USER prober prober prober :prober"
              - expect: "PING :([^ ]+)"
                send: "PONG ${1}"
              - expect: "^:[^ ]+ 001"
        icmp:
          prober: icmp
          icmp:
            preferred_ip_protocol: "ip4"
            ip_protocol_fallback: false
