apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reflector
  namespace: reflector-system
spec:
  interval: 5m
  releaseName: reflector
  chartRef:
    kind: OCIRepository
    name: reflector
  values:
    replicaCount: 1
    rbac:
      enabled: true
    serviceAccount:
      create: true
      name: reflector
