---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app prometheus
  namespace: &ns monitoring
spec:
  targetNamespace: *ns
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  interval: 30m
  timeout: 5m
  path: ./kubernetes/apps/monitoring/prometheus/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: iac
    namespace: flux-system
  decryption:
    provider: sops
    secretRef:
      name: sops-age
  wait: false
  postBuild:
    substituteFrom:
      - kind: Secret
        name: prometheus-secrets
