---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  interval: 15m
  chartRef:
    name: authentik-chart
    kind: OCIRepository
  values:
    global:
      env:
        - name: AUTHENTIK_POSTGRESQL__HOST
          value: "pg-cluster-primary.databases.svc.cluster.local"
        - name: AUTHENTIK_POSTGRESQL__NAME
          valueFrom:
            secretKeyRef:
              name: authentik-secrets
              key: AUTHENTIK_POSTGRESQL_NAME
        - name: AUTHENTIK_POSTGRESQL__USER
          valueFrom:
            secretKeyRef:
              name: authentik-secrets
              key: AUTHENTIK_POSTGRESQL_USER
        - name: AUTHENTIK_POSTGRESQL__PASSWORD
          valueFrom:
            secretKeyRef:
              name: authentik-secrets
              key: AUTHENTIK_POSTGRESQL_PASSWORD
        - name: AUTHENTIK_POSTGRESQL__PORT
          valueFrom:
            secretKeyRef:
              name: authentik-secrets
              key: AUTHENTIK_POSTGRESQL_PORT
        - name: AUTHENTIK_POSTGRESQL__SSLMODE
          value: "disable"
        - name: AUTHENTIK_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: authentik-secrets
              key: AUTHENTIK_SECRET_KEY
    server:
      name: server
      replicas: 1
      securityContext:
        runAsUser: &user 1000
        runAsGroup: *user
        fsGroup: *user

      ingress:
        enabled: false

      route:
        main:
          enabled: true
          kind: HTTPRoute
          hostnames: ["auth.mafyuh.io"]
          parentRefs:
            - name: envoy-external
              namespace: kube-system
              sectionName: http
            - name: envoy-external
              namespace: kube-system
              sectionName: https
          matches:
            - path:
                type: PathPrefix
                value: /
          httpsRedirect: false
          https: false

      metrics:
        serviceMonitor:
          enabled: true

      volumes:
        - name: custom-css
          configMap:
            name: authentik-custom-css
      volumeMounts:
        - name: custom-css
          mountPath: /web/dist/custom.css
          subPath: custom.css
      resources:
        requests:
          cpu: 250m
          memory: 512Mi
        limits:
          cpu: "1"
          memory: 1024Mi
    worker:
      replicas: 1
      env:
      resources:
        requests:
          cpu: 200m
          memory: 512Mi
        limits:
          cpu: "500m"
          memory: 1024Mi
    authentik:
      log_level: info
      error_reporting:
        enabled: true
      email:
        from: noreply@mafyuh.io
        host: smtp.protonmail.ch
        port: 587
        username: noreply@mafyuh.io
        password: ${AUTHENTIK_SMTP_PASSWORD}
        use_ssl: false
        use_tls: true
        timeout: 30
      embeddedOutpost:
        enabled: true
      secret_key: ${AUTHENTIK_SECRET_KEY}
    postgresql:
      enabled: false
