---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cert-manager
spec:
  interval: 5m
  releaseName: cert-manager
  chartRef:
    kind: OCIRepository
    name: cert-manager
  values:
    installCRDs: true
    prometheus:
      servicemonitor:
        enabled: true
    replicaCount: 1
    extraArgs:
      - --dns01-recursive-nameservers=1.1.1.1:53,8.8.8.8:53
      - REDACTED
    podDnsPolicy: None
    podDnsConfig:
      nameservers:
        - "1.1.1.1"
        - "8.8.8.8"
