---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: optiplex-k8s
endpoint: https://10.0.0.150:6443
# renovate: depName=siderolabs/talos datasource=github-releases
talosVersion: v1.12.1
# renovate: depName=kubernetes/kubernetes datasource=github-releases
kubernetesVersion: v1.35.0
additionalApiServerCertSans: &sans
  - 127.0.0.1
additionalMachineCertSans: *sans
cniConfig:
  name: none
nodes:
  - hostname: talos-1.mafyuh.com
    ipAddress: 10.0.0.9
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          physical: true
        dhcp: true
        vip:
          ip: &vip 10.0.0.150
  - hostname: talos-2.mafyuh.com
    ipAddress: 10.0.0.84
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          physical: true
        dhcp: true
        vip:
          ip: *vip
  - hostname: talos-3.mafyuh.com
    ipAddress: 10.0.0.177
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          physical: true
        dhcp: true
        vip:
          ip: *vip
controlPlane:
  schematic:
    customization:
      extraKernelArgs:
        - -init_on_alloc
        - -selinux
        - apparmor=0
        - init_on_alloc=0
        - init_on_free=0
        - intel_iommu=on # PCI Passthrough
        - iommu=pt # PCI Passthrough
        - mitigations=off
        - security=none
        - talos.auditd.disabled=1
      systemExtensions:
        officialExtensions:
          - siderolabs/iscsi-tools
          - siderolabs/util-linux-tools
          - siderolabs/i915
          - siderolabs/intel-ucode
  patches:
    # Disable search domain (DHCP is used)
    - |-
      machine:
        network:
          disableSearchDomain: true
    # Customize containerd (Spegel)
    - |-
      machine:
        files:
          - path: /etc/cri/conf.d/20-customization.part
            op: create
            content: |
              [plugins."io.containerd.cri.v1.images"]
                discard_unpacked_layers = false
    # Enable feature
    - |-
      machine:
        features:
          hostDNS:
            enabled: true
            resolveMemberNames: true
            forwardKubeDNSToHost: false
          kubernetesTalosAPIAccess:
            allowedKubernetesNamespaces:
              - system-upgrade
              - actions-runner-system
            allowedRoles:
              - os:admin
            enabled: true
    # Configure cluster
    - |-
      cluster:
        allowSchedulingOnControlPlanes: true
        apiServer:
          extraArgs:
            feature-gates: "ImageVolume=true,MutatingAdmissionPolicy=true,ResourceHealthStatus=true"
            runtime-config: "admissionregistration.k8s.io/v1beta1=true"
        coreDNS:
            disabled: false
        proxy:
          disabled: true
        scheduler:
          config:
            apiVersion: kubescheduler.config.k8s.io/v1
            kind: KubeSchedulerConfiguration
            profiles:
              - schedulerName: default-scheduler
                pluginConfig:
                  - name: PodTopologySpread
                    args:
                      defaultingType: List
                      defaultConstraints:
                        - maxSkew: 1
                          topologyKey: kubernetes.io/hostname
                          whenUnsatisfiable: ScheduleAnyway
    # Configure etcd
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 10.0.0.0/24
    # Configure kube-controller-manager metrics
    - |-
      cluster:
        controllerManager:
          extraArgs:
            bind-address: "0.0.0.0"
    # Configure kube-scheduler metrics
    - |-
      cluster:
        scheduler:
          extraArgs:
            bind-address: "0.0.0.0"
