---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflared-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: cloudflared-secret
    template:
      engineVersion: v2
      data:
        TUNNEL_TOKEN: "{{ .token }}"
  data:
    - secretKey: token
      remoteRef:
        key: "REDACTED"
