---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.0.1/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app umami
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: umami
  values:
    global:
      fullnameOverride: *app

    controllers:
      umami:
        enabled: true
        type: deployment

        replicas: 1

        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: "OnRootMismatch"

        containers:
          app:
            image:
              repository: ghcr.io/umami-software/umami
              tag: postgresql-v2.20.2
              pullPolicy: IfNotPresent
            env:
              APP_SECRET:
                valueFrom:
                  secretKeyRef:
                    name: umami-secrets
                    key: APP_SECRET
              DATABASE_TYPE: "postgresql"
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: umami-secrets
                    key: DATABASE_URL

            probes:
              liveness:
                enabled: false

            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL

            resources:
              requests:
                cpu: 100m
                memory: 150Mi
              limits:
                memory: 256Mi

    service:
      app:
        primary: true
        controller: umami
        ports:
          http:
            port: &port 3000

    route:
      internal:
        enabled: true
        kind: HTTPRoute
        hostnames: ["stats.mafyuh.dev"]
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: umami
                port: *port
        parentRefs:
          - name: envoy-external
            namespace: kube-system
            sectionName: https
