---
# yaml-language-server: $schema=https://github.com/netbox-community/netbox-chart/raw/refs/heads/main/charts/netbox/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app netbox
spec:
  interval: 15m
  install:
    timeout: 10m
    remediation:
      retries: -1
  upgrade:
    timeout: 10m
    remediation:
      retries: -1
  chartRef:
    kind: OCIRepository
    name: netbox
  values:
    global:
      fullnameOverride: *app
      namespace: networking

    superuser:
      name: mafyuh
      email: admin@mafyuh.com
      password: ${NETBOX_ADMIN_PASSWORD}

    ingress:
      enabled: false

    persistence:
      enabled: false

    postgresql:
      enabled: false

    externalDatabase:
      host: pg-cluster-ha.databases.svc.cluster.local
      port: 5432
      database: netbox
      username: netbox
      password: ${NETBOX_ADMIN_PASSWORD}

    valkey:
      enabled: false

    cachingDatabase:
      host: netbox-dragonfly.networking.svc.cluster.local
      port: 6379

    housekeeping:
      enabled: false

    worker:
      enabled: false

    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 1024Mi
